.slides{
    position: relative;
    width: 100%;
    height: 600px;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-image{
    width: 100%;
  height: auto;
  border-radius: 10px;
  transition: opacity 0.5s ease;
}
.slides button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 50%;
        font-size: 20px;
}
.slides button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }